{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Login
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='signin.css')}}">
{% endblock %}

{% block head %}
{{super()}}
      <div class="container">
        <div class="navbar-header">
			{% with messages = get_flashed_messages() %}
			  {% if messages %}
				{% for message in messages %}
				  <div class="alert alert-warning alert-dismissible" role="alert">
				  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
					{{message}}
				  </div>
				{% endfor %}
			  {% endif %}
			{% endwith %}
        </div>
	</div>
{% endblock %}


{% block content %}

    <div class="container">
		{{ wtf.quick_form(form, button_map={'submit':'success'}) }}
    </div>

{% endblock %}


